
main #content .product {
  background-color: var(--blue-900);
  min-height: 47rem;
  max-width: 26.7rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.1rem;
  padding: 2rem;

  font-family: "Inter", sans-serif;
}

#content .product img {
  width: 22.9rem;
  height: auto;
}

#content .product h2 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}

#content .product p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-transform: capitalize;
}
#content .product .product-value {
  display: flex;
  flex-direction: column;

  font: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
}

#content .product .product-value span strong {
  color: var(--green-700);
}

#content .product .product-button {
    background: var(--purple);
    width: 100%;
    height: 5.6rem;
    border-radius: 5px;
  
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--text-color);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }