* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

:root {
  /* 1rem = 10px*/
  font-size: 62%;

  --gray-900: #101010;
  --gray-800: #1A1A1A;
  --gray-600: #303030;
  --blue-900: #231F2D;
  --green-700: #11D500;
  --text-color: #FFFFFF;
  --purple: #8C00CE;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--gray-800);
}

#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#app>header {
  width: 100%;
  height: 4rem;
}

#app header #menu {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
  background-color: var(--gray-600);
}

header #menu .logo img {
  max-width: 15.3rem;
  height: 3.6rem;
}

#menu .menu-modal {
  display: none;
}

#menu .menu-modal.actived {
  display: block;
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 8.2rem;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: auto;

  background: rgba(0, 0, 0, 0.9);
}

.menu-modal .menu-items ul {
  margin-top: 6rem;
  list-style-type: none;
}

.menu-modal .menu-items ul li {
  text-align: center;
  margin: 3rem 0;
}

.menu-modal .menu-items ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}

.menu-modal .user-menu {
  color: var(--text-color);
  font-size: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  margin-top: 5rem;
}

.menu-modal .user-menu .cart {
  position: relative;
}

.menu-modal .user-menu .cart:after {
  font-family: "Inter", sans-serif;
  content: attr(data-value);
  width: 14px;
  height: 14px;
  font-size: 12px;
  border: 1px solid var(--text-color);
  border-radius: 9999px;
  background: var(--purple);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -3px;
  right: -3px;
}


#menu .active-menu {
  font-size: 3.5rem;
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-self: center;
}

/*main*/

main {
  width: 100%;
  max-width: 1200px;
  padding: 0 2.6rem;
  margin: auto;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;
  margin: 1.3rem 0;
}

main #content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  place-items: center;
}

@media (min-width:600px) {
  main #content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  #menu .menu-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .menu-modal .menu-items {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-modal .menu-items ul {
    display: flex;
    gap: 3.5rem;
    margin: 0;
  }

  .menu-modal .menu-items ul li {
    margin: 0;
  }

  #menu .active-menu {
    display: none;
  }

  #menu .user-menu {
    font-size: 2.3rem;
    gap: 1rem;
    margin: 0;
  }

  main #content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1080px) {
  main #content {
    grid-template-columns: repeat(4, 1fr);
  }
}


/*
*** cart-menu
*/
#cart-items.actived {
  background: var(--text-color);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;

  padding: 2.4rem;
}

#cart-items .cart-close-button {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 9999px;

  background: var(--purple);
  color: var(--text-color);


  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: .5rem;
  right: .5rem;
}

#cart-items header {
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  padding-bottom: 3rem;
}

#cart-items header strong {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#cart-items #products {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  padding: 1rem;
}

#cart-items #products .product {
  width: 100%;
  min-height: 12rem;
  max-height: 15rem;
  
  border-bottom: 1px solid #CACACA;

  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}

#cart-items #products .product img {
  width: 9.4rem;
  height: auto;
}

#cart-items #products .product .description {
  height: 100%;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: #464646;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .description .product-title {
  display: flex;
  flex-direction: column;
}

.product .description .product-title strong {
  font-size: 1.2rem;
}

.product .description > div:not(.product-title) {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.product .product-total {
  font-size: 1.2rem;
}
.product .product-value {
  font-size: 1.4rem;
}

#cart-items footer.cart-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2.6rem;

  margin-top: 1rem;
}

#cart-items footer.cart-button a {
  width: 22.3rem;
  height: 5.6rem;
  border-radius: 5px;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1.4px;
  line-height: normal;
  color: var(--text-color);


  display: flex;
  align-items: center;
  justify-content: center;
}

#cart-items footer.cart-button a i {
  font-size: 2.5rem;
  margin-left: .5rem;
}

#cart-items footer.cart-button a:first-child {
  background: var(--purple);
}

#cart-items footer.cart-button a:last-child {
  background: #58D36C;
}